---

---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>BinaryCitadel.com | Blog</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/about">About</a>
    <a href="/blog">Blog</a>
</nav>
<h1>Blog</h1>
<a href="/posts/post-20231112-1">Hello World</a>
<a href="/posts/post-20231112-2">Again</a>
<a href="/posts/post-20231112-3">And Again</a>
</body>
</html>
