---
const { active } = Astro.props;
---
<nav class="page-header__nav">
    <a href="/" class={active == 'Home' ? "navlink navlink--active" : "navlink"}>Home</a>
    <a href="/about" class={active == 'About' ? "navlink navlink--active" : "navlink"}>About</a>
    <a href="/blog" class={active == 'Blog' ? "navlink navlink--active" : "navlink"}>Blog</a>
</nav>